<!-- Launches processes to start BlueROV: Pixhawk, camera, teleop, etc. -->
<launch>

  <arg name="machine" default="bluerov-pi" />

  <!-- Machine Definitions -->
  <include file="$(find bluerov)/cfg/bluerov.machine" />


  <!-- Start blueauv control and connect to pixhawk -->
  <include file="$(find bluerov_robot)/launch/bluerov_mavros.launch">
      <arg name="machine" default="$(arg machine)" />
  </include>


  <!-- Start the raspberry pi camera node -->
  <include file="$(find bluerov_robot)/launch/camerav2_1280x720.launch">
      <arg name="machine" default="$(arg machine)" />
  </include>


  <!-- Robot State Publisher -->

  <!-- Load the urdf into the parameter server. -->
   <param name="bluerov" textfile="$(find bluerov_robot)/urdf/bluerov.urdf"/>

   <!-- Publish transforms from urdf -->
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
                        machine="$(arg machine)" >
     <remap from="robot_description" to="bluerov" />
   </node>

</launch>
