<launch>

  <arg name="machine" default="topside" />
  <arg name="initial_mode" default="manual" />  <!-- accepted values: manual, stabilized, depth -->
  <arg name="node_start_delay" default="1.0" />


  <!-- Machine Definitions -->
  <include file="$(find bluerov)/cfg/bluerov.machine" />

  <!-- Start the joystick driver -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node" output="screen" machine="$(arg machine)">
    <param name="dev" value="/dev/f310controller" type="string" />
    <remap from="joy" to="joy_f310" />
  </node>

  <!-- Teleop node -->
  <node pkg="bluerov_teleop" type="bluerov_teleop_node" name="bluerov_teleop" output="screen"
                    required="true" machine="$(arg machine)" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
    <param name="joystick" value="f310" type="string" />
    <param name="joy_topic" value="joy_f310" type="string" />
    <param name="initial_mode" value="$(arg initial_mode)" type="string" />
  </node>

</launch>
